* {
    margin: 0px;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
}

.nav-logo{
    height:50px;
    width:113px;
}
.logo {
    background-image: url(/images/amazonl.jpg);
    height:50px;
    width:113px;
    background-size: cover;
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid white;
}
/* Box 2 */
.add-first {
    color: #CCCCCC;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-second {
    color: #FFFFFF;
    font-size: 1rem;
    margin-left: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* Box 3 */
.nav-search {
    display: flex;
    background-color: #ff9900;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}